{% extends 'index.html' %}

{% block banner %}
    <div class="image-container w-100" style="position: relative">
        <img src="{{ banner.image.url }}" alt="{{ banner.alt_text }}" class="bannerStyleOtherPages" width="100%">

        <div class="w-100 d-flex align-items-center justify-content-center row"
             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
            <div class="col-md-8 col-sm-10 text-center text-white">
                <h4 class="d-inline-block text-highlight">Check out some of my projects
                    below</h4>
            </div>
        </div>
    </div>
{% endblock banner %}

{% block content %}
    <div class="container my-5">
        <h2 class="text-center mb-5 text-white">My Projects</h2> <!-- Title for the projects section -->
        {% for project in projects %}
            <div data-aos="fade-up">
                {% include 'base components/project_intro_card.html' with project=project %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
