{% extends 'index.html' %}
{% load static %}

{% block banner %}
    {% include 'base components/3d_banner.html' %}
{% endblock banner %}

{% block content %}
    <div class="container my-5">
        <h2 class="text-center mb-5 text-white">My Projects</h2> <!-- Title for the projects section -->
        {% for project in projects %}
            <div data-aos="fade-up">
                {% include 'base components/project_intro_card.html' with project=project %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}

